html {
    height: 100%;
}
body {
    background-color: #181a1a;
    color: white;
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body > .container {
    padding: 25px;
}

/** =========================== jobs ======================= **/

.job_show {
    height: 87px;
    width: 55px;
    float: left;
    margin-top: 12px;
    background-repeat: no-repeat !important;
}

.job_show_stand {
    background-position: 0px, 0px;
}

/** Personal fix **/
.job_show_f_20 { width: 54px; margin-left: 5px; }
.job_show_m_7 { margin-left: 4px; }
.job_show_m_15 { margin-left: 0px; margin-top: 8px; }
.job_show_m_19 { margin-left: 3px; margin-top: 8px; }
.job_show_f_7 { margin-left: 4px; width: 54px; }
.job_show_f_18 { margin-left: 4px; }
.job_show_m_11 { margin-left: 4px; }
.job_show_m_8 { margin-left: 1px; margin-top: 10px; }
.job_show_m_10 { margin-top: 13px; margin-left: 3px; }
.job_show_f_1 { margin-left: 6px; width: 46px; }
.job_show_f_17 { margin-top: 3px; margin-left: -2px; height: 90px; width: 57px; }
.job_show_f_0 { margin-left: 3px; }
/** =========================== head ======================= **/
.hair_show {
    height: 40px;
    width: 26px;
    margin-left: 17px;
    float: left;
    position: absolute;
    background-repeat: no-repeat !important;
}
.hair_show_stand {
    background-position: 0px, 0px;
}

/** person style **/
.hair_show_f_7 { margin-left: 17px; }
.hair_show_m_13 { margin-top: 3px; width: 30px; }
.hair_show_m_2 { width: 29px; margin-left: 16px; }
.hair_show_m_6 { margin-left: 19px; }
.hair_show_m_21 { width: 30px; }
.hair_show_f_14 { margin-left: 19px; }
.hair_show_m_4 { margin-left: 19px; }
.hair_show_m_26 { width: 28px; }
.hair_show_m_7 { width: 30px; }
.hair_show_m_9 { margin-left: 16px; }
.hair_show_m_5 { margin-left: 19px; margin-top: 1px; }
.hair_show_m_14 { margin-left: 19px; }