.breaker {
    float: left;
}
.breaker_point {
    margin-top: -12px;
}
.timeline_color {
    background-color: red;
    width: 100%;
    height: 1px;
    /*margin-top: 200px;*/
}
.breaker_guild_tl {
    position: absolute;
}
.break_timeline {
    /*padding-bottom: 200px;*/
}